<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>GSearch</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="styles/503524fc.main.css" />
<script src="components/modernizr/modernizr.js"></script>
</head>
<body data-ng-app="gsearchApp" data-ng-controller="AppCtrl">

  <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

  <!--[if lt IE 9]>
            <script src="scripts/vendor/61e2728c.es5-shim.min.js"></script>
            <script src="scripts/vendor/241d7c33.json3.min.js"></script>
        <![endif]-->

  <!-- Add your site or application content here -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        
        <a class="brand" href="#!/" data-ng-click="cleanResult()">GSearch</a>
        
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <a href="#!/">Search</a>
            </li>
            
            <li class="dropdown" data-ng-show="hasFavoriteRepos()">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Favorite repos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li data-ng-repeat="repo in getFavoriteRepos()">
                    <a href="#!/repo/{{repo}}">{{repo}}</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a data-ng-click="clearFavoriteRepos()">Clear</a>
                </li>
              </ul>
            </li>
            
            <li class="dropdown" data-ng-show="hasFavoriteUsers()">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Favorite users <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li data-ng-repeat="user in getFavoriteUsers()">
                  <a href="#!/user/{{user}}">@{{user}}</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a data-ng-click="clearFavoriteUsers()">Clear</a>
                </li>
              </ul>
            </li>
          </ul>
        
          <ul class="nav pull-right">
            <li>
              <form class="form-search" data-ng-submit="doSearch()">
                <div class="input-append">
                  <input type="text" class="search-query" placeholder="Start typing..." autofocus="autofocus" data-ng-model="search"/>
                  <button class="btn" type="submit">Search</button>
                </div>
              </form>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  
  <div class="container">
    <div id="msg"></div>
    
    <div data-ng-view="view"></div>
  
    <hr/>
  
    <footer>
      By Paul Dijou
    </footer>
  </div>
  
  <script src="components/jquery/jquery.js"></script>
  <script src="scripts/vendor/highcharts/dc920007.highcharts.js"></script>
  <script src="scripts/vendor/blockui/ed8546e0.jquery.blockui.js"></script>
  <script src="components/underscore/underscore.js"></script>
  <script src="scripts/vendor/angular/d10639ae.angular.js"></script>
  <script src="scripts/vendor/angular/b291a314.angular-resource.js"></script>
  <script src="components/angular-ui/build/angular-ui.js"></script>
  <script src="scripts/vendor/bootstrap/9cad6353.bootstrap.js"></script>
  <script src="scripts/vendor/select2/fec56cc2.select2.js"></script>
  
  <script src="scripts/08b9505f.scripts.js"></script>
</body>
</html>
